<%= simple_form_for [:noticias,@user],:html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.association :plaza , prompt: "Selecciona una palza"  %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if @user.has_role? :reportero %>
    <%= f.association :source , prompt: "Selecciona una fuente" %>
    <%= f.input :camarografo_id do %>
     <%= f.select :camarografo_id, User.camarografos(@user).map { |u| [u.name, u.id] },prompt: "Elige Camarografo",include_blank: false %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Nuevo Usuario" %>
  </div>
<% end %>