<div class="nav-collapse subnav-collapse collapse ">
	        <%= toggle_menu("Notificaciones","#noticas","#") %>
	        <ul id="noticas" class="nav nav-list collapse">
	            <li><%= menu("Nueva Notificacion",new_noticias_notification_path,"#") %></li>
	            <li><%= menu("Submenu","#","#") %></li>
	            <li><%= menu("Submenu","#","#") %></li>
	            <li><%= menu("Submenu","#","#") %></li>
	        </ul>     
</div>	