<div class="nav-collapse subnav-collapse collapse ">
	        <%= menu("Inicio",root_path,"#") %>
	        <%= toggle_menu("Noticias","#noticas","#") %>


	        <ul id="noticas" class="nav nav-list collapse">
	            <li><%= menu("Submenu","#","#") %></li>
	            <li><%= menu("Submenu","#","#") %></li>
	            <li><%= menu("Submenu","#","#") %></li>
	            <li><%= menu("Submenu","#","#") %></li>
	        </ul>     
</div>	