<div class="nav-collapse subnav-collapse collapse ">
	        <%= menu("Comisiones",comisiones_recibidas_noticias_notifications_path,"#") %>
	        <%= toggle_menu("Noticias","#rmenu","#") %>
	        <ul id="rmenu" class="nav nav-list collapse">
	            <li><%= menu("menu","#","#") %></li>
	            <li><%= menu("menu","#","#") %></li>
	            <li><%= menu("menu","#","#") %></li>
	            <li><%= menu("menu","#","#") %></li>
	        </ul>     
</div>	